<a href="https://colab.research.google.com/github/ldthinh220802/sharksthinh/blob/main/doc_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import numpy
import pandas


reader = pandas.read_csv('thinh34.csv')
reader

    STT     Ho va ten
0     1  Nguyen Van A
1     2      Le Van B
2     3     Ngo Thi C
3     4     Lam Van D
4     5  Nguyen Van A
5     6      Le Van B
6     7     Ngo Thi C
7     8     Lam Van D
8     9  Nguyen Van A
9    10      Le Van B
10   11  Nguyen Van A
11   12      Le Van B
12   13     Ngo Thi C
13   14     Lam Van D
14   15  Nguyen Van A
15   16      Le Van B
16   17     Ngo Thi C
17   18     Lam Van D
18   19  Nguyen Van A
19   20      Le Van B
20   21  Nguyen Van A
21   22      Le Van B
22   23     Ngo Thi C
23   24     Lam Van D
24   25  Nguyen Van A
25   26      Le Van B
26   27     Ngo Thi C
27   28     Lam Van D
28   29  Nguyen Van A
29   30      Le Van B
30   31  Nguyen Van A
31   32      Le Van B
32   33     Ngo Thi C
33   34     Lam Van D

In [44]:
random_7 = numpy.random.choice(reader['STT'],8)
reader_7 = reader[[reader['STT'][i-1] in random_7 for i in reader['STT']]]
reader_7

    STT     Ho va ten
3     4     Lam Van D
4     5  Nguyen Van A
10   11  Nguyen Van A
11   12      Le Van B
18   19  Nguyen Van A
19   20      Le Van B
23   24     Lam Van D
29   30      Le Van B

In [45]:
reader_7.to_csv('danh_sach_7_nguoi.csv')